body {
    max-width: 1440px;
    height: 1024px;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
    margin-left: 232px;
    padding: 72px 0px 16px 0px;
    gap: 20px;
}


#tasks{
    display: flex;
    gap: 100px;
}


#date{
    display: flex;
    justify-content: center;
    background-color:rgb(69,137,255);
    width: 400px;
    height: 100px;
    border-radius: 20px;
}

#Tasks-Urgent{
    display: flex;
    width: 500px;

}