body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.content-container{
    position: fixed;
    width: 912px;
    height: 591px;
    top: 264.5px;
    left: 380px;
}

.greet-container{
    width: 1044px;
    height: 77px;
}

.flex-container{
    display: flex;
}

.timezone-container{
    height: 58px;
    font-size: 48px;
    line-height: 57.6px;
}

.greetingname-container{
    height: 77px;
    font-size: 48px;
    font-weight: 700;
    color: #4589FF;
    margin-left: 8px;
    line-height: 57.6px;
    margin-bottom: 72px;
}

.middle-section{
    width: 912px;
    height: 191px;
    display: flex;
    column-gap: 35px;
}

.task-urgent{
    width: 672px;
    height: 191px;
    background: rgba(69, 137, 255, 1);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 48px 28px 48px 28px;
    display: flex;
    justify-content: space-evenly;
}

.task-urgent:hover{
    background-color: #2e77f5;
    cursor: pointer;
}

.task-urgend-under-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task-urgend-under-container span{
    color: white;
    margin-top: 8px;
}

.task-urgend-number{
    height: 58px;
    width: 28px;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    color: white;
    margin-left: 12px;
}

.white-column-urgent-task{
    display: flex;
    align-items: center;
}

.white-column-urgent-task img{
    width: 3px;
    height: 145px;
}


.date-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.date-container span{
    color: white;
    font-weight: 700;
    font-size: 33px;
}

.date-container p{
    color: white;
    font-size: 23px;
    margin: 0;
    margin-top: 9px;
}

.task-in-board{
    width: 208px;
    height: 191px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    padding: 40px;
    box-sizing: border-box;
}

.task-in-board:hover{
    background: rgba(210, 227, 255, 1);
    cursor: pointer;
}

.task-in-board-under-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.task-in-board span{
    display: flex;
    justify-content: center;
    color: rgba(69, 137, 255, 1);
    margin-top: 8px;
}

.task-in-board-number{
    font-size: 48px;
    font-weight: 700;
}


.under-task-section{
    width: 912px;
    height: 219px;
    display: flex;
    column-gap: 35px;
    margin-top: 35px;
}

/* for all 4 task in the under section*/

.under-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number-in-tasks{
    font-size: 48px;
    font-weight: 700;
}

.task-to-do span, .task-in-progress span, .awaiting-feedback span, .tasks-done span{
    margin-top: 8px;
    color: rgba(69, 137, 255, 1);
    display: flex;
    justify-content: center;
    text-align: center;
}

/* for all 4 tasks in the under section end*/


.task-to-do{
    width: 204px;
    height: 219px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    padding: 40px;
}

.task-to-do:hover{
    background: rgba(210, 227, 255, 1);
    cursor: pointer;
}

.task-in-progress{
    width: 204px;
    height: 219px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    padding: 40px;
}

.task-in-progress:hover{
    background: rgba(210, 227, 255, 1);
    cursor: pointer;
}

.awaiting-feedback{
    width: 204px;
    height: 219px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    padding: 40px;
}

.awaiting-feedback:hover{
    background: rgba(210, 227, 255, 1);
    cursor: pointer;
}

.tasks-done{
    width: 204px;
    height: 219px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    padding: 40px;
}

.tasks-done:hover{
    background: rgba(210, 227, 255, 1);
    cursor: pointer;
}

/**this section is to design the User Initial on the right corner**/ 

#kanban{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    color:white;
}

#initials{
    background-color: white;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    border: 3px solid #4589ff;
    outline: 4px solid white; 
    color: #4589ff;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }

  

  #options{
    height: 120px;
    width: 138px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    position: fixed;
    top: 98px;
    left: 1275px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 26px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    font-size: 19px;
    font-weight: 400;
    color: rgba(69, 137, 255, 1);
    background-color: white;
    z-index: 100;
  }

  #options a {
    text-decoration: none;
    color: rgba(69, 137, 255, 1);
  }
  #options a:hover {
    background-color:rgb(210,227,255); 
  }

  .option{
    cursor: pointer;
  }
  .option:hover {
    background-color: rgb(210,227,255);
  }

  #options.dNone{
    display: none;
    }
