body {
    max-width: 1440px;
    height: 1024px;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
    margin-left: 232px;
    padding: 72px 0px 16px 0px;
}

#task-todo{
    height: 120px;
    width: 120px;
    background-color: rgb(208, 208, 183);
}