body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1440px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}

.content {
    display: flex;
}

.allContacts {
    width: 456px;
    height: 928px;
    margin-top: 96px;
    margin-left: 232px;
    overflow-y: scroll;
}

#addContact {
    width: 357px;
    height: 56px;
    border-radius: 10px;
    border: 0px;
    padding: 16px 10px 16px 10px;
    background-color: #4589FF;
    color: white;
    font-size: 23px;
    margin: 32px 24px 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addContact:hover {
    cursor: pointer;
    background-color: #005bf8;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

#addContact img {
    margin-left: 8px;
}

.alphabet {
    height: 56px;
    width: 352px;
    padding: 17px 36px 17px 36px;
    gap: 8px;
    font-size: 18px;

}

.borderBottom {
    padding: 8px 0px 8px 0px;
    width: 352px;
    height: 16px;
    gap: 10px;
    border-bottom: 1px solid lightgray;
    margin-left: 24px;
}

.contact {
    height: 77px;
    width: 352px;
    border-radius: 10px;
    padding: 15px 24px 15px 24px;
    gap: 35px;
    display: flex;
    align-items: center;
    font-size: 19px;
}

.contact:hover {
    cursor: pointer;
    background-color:  #D2E3FF;
}

.contactSign {
    background-color: #F77A02;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    border: white 2px solid;
}

.contactContent {
    margin-top: 168px;
    margin-left: 100px;
    gap: 21px;
}

.bigContactSign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    font-size: 47px;
    color: white;
    border: white 2px solid;
    border-radius: 50%;
    background-color: #F77A02;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.contactName {
    font-size: 47px;
    font-weight: 500;
    margin-left: 21px;
    display: flex;
    flex-direction: column;
}

.contactName span {
    display: flex;
}

.contactName button {
    background-color: white;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contactName button:hover {
    color: #005bf8;
    scale: 1.05;
    cursor: pointer;
}
  
.contactId {
    display: flex;
    flex-direction: row;
}

.contactInfo h3 {
    font-size: 23px;
    font-weight: 700;
}

a {
    color: #4589FF;
    text-decoration: none;
}

#addNewContact {
    height: 1024px;
    width: 584px;
    left: 856px;
    position: absolute;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    top: 0;
    display: flex;
    flex-direction: column;
}

.addContactHeader {
    height: 362.48px;
    width: 584px;
    background-color: #005bf8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 30px;
}

.addContactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    border-bottom-left-radius: 30px;
}

.addContactInfo input {
    width: 422px;
    height: 48px;
    margin-top: 8px;
    border: 0;
    border-bottom: 1px solid lightgray;
}

.addContactHeader h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-block-end: 0;
}

.addContactHeader h2 {
    color: white;
    font-size: 27px;
    font-weight: 400;
}

.addContactButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    gap: 32px;
}

#cancel {
    height: 61px;
    width: 136px;
    background-color: white;
    border: 1px solid #647188;
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    color: #647188;
    font-size: 23px;
    font-weight: 400;
}

#cancel:hover {
    cursor: pointer;
    border: 1px solid #4589FF;
    color: #4589FF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    scale: 1.01;
    transition: 200ms;
}

#create {
    height: 60px;
    width: 204px;
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    border: 0;
    background-color: #4589FF;
    color: white;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#create:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    background-color: #005bf8;
    cursor: pointer;
    scale: 1.01;
    transition: 200ms;
}


.displayNone {
    display: none !important;
}