    <div class="header">
        <div>
            <img id="logo" src="/Templates/Menu/img/logo_header.svg">
        </div>
        <div class="right-section">
            <span>Kanban Project Management Tool</span>
            <a id="mediaquerry_work" href="/Help/help.html"><img src="/Templates/Menu/img/help.svg"></a>
            <img id="d_none_svg" src="/Templates/Menu/img/profil_inits.svg">
            <div id="kanban"></div>
            <div id="options"></div>
        </div>
    </div>
    <aside>
        <ul>
            <a href="/Summary/summary.html"><img src="/Templates/Menu/img/menu_summary.svg">Summary</a>
            <a href="/AddTask/addTask.html"><img src="/Templates/Menu/img/menu_addTask.svg">Add Task</a>
            <a href="/Board/board.html"><img src="/Templates/Menu/img/menu_board.svg">Board</a>
            <a href="/Contacts/contacts.html"><img src="/Templates/Menu/img/menu_contacts.svg">Contacts</a>
        </ul>
        <ul class="secondary-links">
            <a href="/PrivacyPolicy/privacypolicy.html">Privacy Policy</a>
            <a href="/LegalNotice/legalnotice.html">Legal notice</a>
        </ul>
    </aside>